<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @todo_item.desc %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo_item.done %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
